.todo-card, .todo-card-completed {
  padding: 15px 30px;
  border-radius: 8px;
  box-shadow: #00000029 0px 3px 6px, #0000003b 0px 3px 6px;
  color: #e1e0e0;
  font-size: 18px;

  display: flex;
  justify-content: space-between;
  align-items: baseline;

  transition: all .3s;

  span {
    color: #cbcbcb;
    text-decoration: none;
    transition: all .3s;
  }

  .todo-card-title-completed {
    color: #6e6e6e;
    text-decoration: line-through;
    background-color: transparent;
  }

  .card-actions {
    display: flex;
    gap: 10px;

    height: 31px;

    i {
      padding: 5px 5px;
      font-size: 18px;
      border-radius: 5px;
      transition: all .3s;
    }

    .view-todo-details, .edit-todo, .complete-todo, .remove-todo {
      border: 2px solid #5f7391;
      color: #5f7391;

      &:hover {
        color: #fff;
        box-shadow: #00000029 0px 3px 6px, #0000003b 0px 3px 6px;
      }
    }

    .view-todo-details {

      &:hover {
        border: 2px solid #3e27a2;
        background-color: #3e27a2;
      }
    }

    .edit-todo {

      &:hover {
        border: 2px solid #2773a2;
        background-color: #2773a2;
      }
    }

    .complete-todo {

      &:hover {
        border: 2px solid #27a257;
        background-color: #27a257;
      }
    }

    .remove-todo {

      &:hover {
        border: 2px solid #c83857;
        background-color: #c83857;
      }
    }
  }
}

.todo-card {
  background-color: #1c1c1c;

  &:hover {
    background-color: #0b0f26;
  }
}

.todo-card-completed {
  background-color: #04111e41;
}

.animate {
  animation: slide .3s linear;
}

@keyframes slide {
  0% {
    transform: translate(0px, -10px);
    opacity: 0%;
  }

  100% {
    transform: translate(0px, 0px);
    opacity: 100%;
  }
}
