<li class="animate">
  <ng-container>
    @if (isEditing) {
    <app-to-do-modal
      [todo]="todo"
      (newToDo)="saveChanges($event); toggleModal()"
      (close)="toggleModal()"
    ></app-to-do-modal>
    } @else {
    <span [class.completed]="todo?.isComplete">{{ todo?.title }}</span>
    }
  </ng-container>

  <ng-container>
    @if (!isEditing) {
    <button (click)="toggleModal()">Edit</button>
    }
  </ng-container>

  <ng-container>
    @if (todo?.isComplete) {
    <button class="remove-todo" (click)="removeTodo()">Remove</button>
    } @else {
    <button class="complete-todo" (click)="completeTodo()">Complete</button>
    }
  </ng-container>
</li>
