<li
  class="animate"
  [class]="todo?.isComplete ? 'todo-card-completed' : 'todo-card'"
>
  <span [class.todo-card-title-completed]="todo?.isComplete">{{
    todo?.title
  }}</span>

  <div class="card-actions">
    <i
      class="fa-solid fa-eye view-todo-details"
      (click)="toggleDetailsModal()"
    ></i>

    <i
      class="fa-solid fa-pencil edit-todo"
      title="Edit to do"
      (click)="toggleModal()"
    ></i>

    @if (todo?.isComplete) {
    <i
      class="fa-solid fa-xmark remove-todo"
      title="Remove to do"
      (click)="removeTodo()"
    ></i>
    } @else {
    <i
      class="fa-solid fa-check complete-todo"
      title="Complete to do"
      (click)="completeTodo()"
    ></i>
    }
  </div>
</li>

@if (isEditing) {
<app-to-do-modal
  [todo]="todo"
  (newToDo)="saveChanges($event); toggleModal()"
  (close)="toggleModal()"
></app-to-do-modal>

} @if (showDetails) {
<app-to-do-details-modal
  [todo]="todo"
  (close)="toggleDetailsModal()"
></app-to-do-details-modal>
}
