li {
  background-color: #495567;
  padding: 15px 30px;
  border-radius: 8px;
  box-shadow: #00000029 0px 3px 6px, #0000003b 0px 3px 6px;
  color: #e1e0e0;
  font-size: 18px;

  display: flex;
  justify-content: space-between;

  transition: all .3s;

  span {
    color: #e1e0e0;
    text-decoration: none;
    transition: all .3s;
  }

  .completed {
    text-decoration: line-through;
    color: #6e6e6e;
  }

  .card-actions {
    display: flex;
    justify-content: space-between;
    //gap: 10px;
    width: 110px;
    //background-color: palegoldenrod;

    i {
      padding: 5px 5px;
      color: #fff;
      font-size: 18px;
      border-radius: 5px;
      transition: all .3s;
    }

    .view-todo-details {
      border: 2px solid #3e27a2;
      background-color: #3e27a2;

      &:hover {
        border: 2px solid #271968;
        background-color: #271968;
      }
    }

    .edit-todo {
      border: 2px solid #2773a2;
      background-color: #2773a2;

      &:hover {
        border: 2px solid #194a68;
        background-color: #194a68;
      }
    }

    .complete-todo {
      border: 2px solid #27a257;
      background-color: #27a257;

      &:hover {
        border: 2px solid #1b723d;
        background-color: #1b723d;
      }
    }

    .remove-todo {
      border: 2px solid #c83857;
      background-color: #c83857;

      &:hover {
        border: 2px solid #89263b;
        background-color: #89263b;
      }
    }
  }

}

.completed {
  background-color: #2f3743;
}

.animate {
  animation: slide .3s linear;
}

@keyframes slide {
  0% {
    transform: translate(0px, -10px);
    opacity: 0%;
  }

  100% {
    transform: translate(0px, 0px);
    opacity: 100%;
  }
}
