<div class="overlay"></div>

<div class="modal">
  <div class="form-control">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" />
  </div>
  <div class="form-control">
    <label for="description">Description</label>
    <textarea name="description" id="description" rows="8" cols="40"></textarea>
  </div>
  <div class="form-control checkbox">
    <label for="isComplete">Is complete?</label>
    <input type="checkbox" name="isComplete" id="isComplete" class="checkbox" />
  </div>
  <div class="modal-actions">
    <button class="btn btn-cancel">Cancel</button>
    <button class="btn btn-save">Save</button>
  </div>
</div>
