<div>
  <div class="container">
    <div class="input-container" [formGroup]="filterForm">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="Search by todo title..." formControlName="searchText" />
    </div>
    <button class="btn" (click)="toggleModal()">ADD TODO</button>
  </div>

  <ul>
    @for (todo of todos; track todo.id) {
    <app-to-do
      class="list-item"
      [todo]="todo"
      (editedToDo)="saveEditedToDo($event)"
      (completeToDo)="saveEditedToDo($event)"
      (removeToDo)="removeToDo($event)"
    ></app-to-do>
    } @empty {
    <li>No ToDos Available!</li>
    }
  </ul>
</div>

@if (isModalOpen) {
<app-to-do-modal
  (newToDo)="submitForm($event); toggleModal()"
  (close)="toggleModal()"
></app-to-do-modal>
}
